<nav class="navbar">
    <button class="bold-text" (click)="navigate('main')" [ngClass]="{ 'inactive-tab': !isTabActive('main') }">{{ title }}</button>
    <button (click)="navigate('favorites')" [ngClass]="{ 'inactive-tab': !isTabActive('favorites') }">Favorites</button>
</nav>
<main class="main" @parent>
    <div *ngIf="tab === 'main'" [@slideMain]>
        <app-catalog></app-catalog>
    </div>
    <div *ngIf="tab === 'favorites'" [@slideFavorites]>
        <app-favorites></app-favorites>
    </div>
</main>
