<div class="center-facorites-container" (drop)="onDrop($event)" (dragover)="onDragover($event)">
    @for(favorite of favorites(); track favorite.name){
    <app-favorite-item
        draggable="true"
        (dragstart)="onDragStart($event, favorite)"
        (dragend)="onDragEnd()"
        (dragover)="onDragoverFavorite($event, favorite)"
        [pokemon]="favorite"
        [ngClass]="{ 'currently-dragged': isCurrentlyDragged(favorite) }"
        class="draggable"></app-favorite-item>
    }
</div>
