@let pokemonValue = pokemon(); @let isFavoriteValue = isFavorite(pokemonValue);
<div class="item-card-container">
    <img
        src="./assets/heart-icon.svg"
        alt="heart"
        class="item-card-favorite-icon"
        [ngClass]="{ 'favorite-marked': isFavoriteValue }"
        (click)="toggleFavorite(pokemonValue)" />
    <div class="item-card-image-container">
        <img src="{{ pokemonValue.sprite }}" alt="" />
    </div>
    <div class="item-card-details-container">
        <p class="item-card-details-cost">{{ cost() }} $</p>
        <div class="item-card-details-cost-description">
            <p class="item-card-details-cost-description-title">{{ pokemonValue.name }}</p>
            <p class="item-card-details-cost-description-genera">{{ pokemonValue.genera }}</p>
        </div>
    </div>
</div>
